@(product: models.Product)

<html>
    <head>
        <meta charset="UTF-8">
        <title>@product.getName</title>
    </head>
    <body>
        <h1>@product.getName</h1>
        <main>
            <img src="/assets/images/productImages/thumbnails/@(product.getId + ".jpg")" alt="No Image">
        </main>
        <aside>
            <table>
                <tr>
                    <td style="font-weight: bold">ID</td>
                    <td>@product.getId</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Name</td>
                    <td>@product.getName</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Category</td>
                    <td>@product.getCategory</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Description</td>
                    <td>@product.getDescription</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Stock</td>
                    <td>@product.getStock</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Price</td>
                    <td>€@product.getPrice</td>
                </tr>
            </table>
        </aside>
    </body>
</html>