@import helper._
@(projectForm: play.data.Form[models.Project], project: models.Project, employees: java.util.List[models.users.Employee], user: models.users.User)


@main("Add/Change project", user) {
    @form(action = routes.ProjectController.form) {
        @CSRF.formField
        @inputText(projectForm("id"), '_label -> "ID", 'readonly -> "readonly")
        @inputText(projectForm("name"), '_label -> "Name")
        @if(project == null) {
            @for(employee <- employees) {
                <input type="checkbox" id="employee" name="@employee.getId">
                <label for="employee">@employee.getNames (@employee.getDepartment.getTitle)</label>
            }
        } else {
            @for(employee <- employees) {
                @if(project.getEmployees.contains(employee)) {
                    <input type="checkbox" id="employee" name="@employee.getId" checked>
                } else {
                    <input type="checkbox" id="employee" name="@employee.getId">
                }
                <label for="employee">@employee.getNames (@employee.getDepartment.getTitle)</label>
            }
        }
        @inputDate(projectForm("start"), '_label -> "Start Time")
        @inputDate(projectForm("end"), '_label -> "End Time")
        <input type="submit" value="Add/Update Project">
    }
}