@(departments: java.util.List[models.Department], user: models.users.User)

@main("Department View", user) {
    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
        @if(user.isInstanceOf[models.users.Employee]) {
           @defining(user.asInstanceOf[models.users.Employee]) { emp =>
                <tr>
                    <td><a href="@routes.DepartmentController.department(emp.getDepartment.getId)">@emp.getDepartment.getId</a></td>
                    <td>@emp.getDepartment.getTitle</td>
                </tr>
           }
        } else {
            @if(user.isInstanceOf[models.users.Admin]) {
                @for(department <- departments) {
                    <tr>
                        <td>
                            <a href="@routes.DepartmentController.department(department.getId)">@department.getId</a>
                        </td>
                        <td>@department.getTitle</td>
                    </tr>
                }
            }
        }
    </table>
}