@(employee: models.Employee, user: models.users.User)

@main(employee.getNames, user) {
    <h1>@employee.getNames</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>
                <a href="@routes.EmployeeController.employee(employee.getId)">@employee.getId</a>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@employee.getLastName, @employee.getFirstName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><a href="mailto:@employee.getEmail">@employee.getEmail</a></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><a href="tel:@employee.getPhone">@employee.getPhone</a></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@employee.getAddress.toString</td>
        </tr>
        <tr>
            <td>Projects</td>
            <td>
                <ul>
                @for(project <- employee.getProjects) {
                    <li>
                        <a href="@routes.ProjectController.project(project.getId)">@project.getName</a>,
                    </li>
                }
                </ul>
            </td>
        </tr>
    </table>
}