@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@title</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="@routes.HomeController.index()">Department View</a>
            </li>
            <li>
                <a href="@routes.ProjectController.projects()">Project View</a>
            </li>
            <li>
                <a href="@routes.EmployeeController.employees">Employee View</a>
            </li>
            @if(user != null) {
                <li>Logged in as @user.getClass.getSimpleName: <a href="@routes.EmployeeController.employee(user.getId)">@user.getFirstName @user.getLastName</a></li>
                <li><a href="@routes.LoginController.logout()">Logout</a></li>
            } else {
                <li><a href="@routes.LoginController.login()">Login</a></li>
            }
        </ul>
    </nav>
    @content
</body>

</html>
