@(projects: java.util.List[models.Project], user: models.users.User)

@main("Project View", user) {
    <a href="@routes.ProjectController.create()">Create new project</a>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            @if(user.getRole.equals("admin")) {
                <th>Number of Employees</th>
            }
        </tr>
        @for(project <- projects) {
            <tr>
                <td>
                    <a href="@routes.ProjectController.project(project.getId)">@project.getId</a>
                </td>
                <td>@project.getName</td>
                <td>@project.getStart.toString("dd-MM-yy")</td>
                <td>@project.getEnd.toString("dd-MM-yy")</td>
                @if(user.getRole.equals("admin")) {
                    <td>@project.getEmployees.size</td>
                    <td>
                        <a href="@routes.ProjectController.delete(project.getId)">Delete</a>
                    </td>
                    <td>
                        <a href="@routes.ProjectController.update(project.getId)">Update</a>
                    </td>
                }
            </tr>
        }
    </table>
}