@import helper._
@(employee: models.Employee, user: models.users.User)

<html>
    <head>
        <meta charset="UTF-8">
        <title>Employee Record - @employee.getNames</title>
    </head>
    <body>
        @form
        <h1>@employee.getNames</h1>
        <table>
            <tr>
                <td style="font-weight: bold">ID</td>
                <td>@employee.getId</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Name</td>
                <td>@employee.getLastName, @employee.getFirstName</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>@employee.getDepartment</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Email</td>
                <td><a href="mailto:@employee.getEmail">@employee.getEmail</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Phone</td>
                <td><a href="tel:@employee.getPhone">@employee.getPhone</a></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Address</td>
                <td>@employee.getAddress.toString</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>
                    @for(project <- employee.getProjects) {
                        @project.getName,
                    }
                </td>
            </tr>
        </table>
    </body>
</html>