@(employees: List[models.Employee], departments: List[models.Department], user: models.users.User, env: play.api.Environment)

@main("Products",user) {

<employee class="lead">Product Catalogue</employee>
<br>
<div class="row">
  <div class="col-sm-2">
    <h4>Categories</h4>
    <div class="list-group">
      <a href="@routes.HomeController.index(0)" class="list-group-item">All Categories</a>
      @for(department <- departments) {
        <a href="@routes.HomeController.index(department.getId)" class="list-group-item">@department.getTitle
          <span class="badge">@department.getEmployees.size()</span>
        </a>
      }
    </div>
  </div>
  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <thead>
        <tr>
          <th>Image</th>
          <th>ID</th>
          <th>Names</th>
          <th>Department</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Price</th>
          <th colspan="2"></th>      
        </tr>
      </thead>

      <tbody>
        @for(employee <- employees) {

          <tr>
              @if(env.resource("public/images/productImages/thumbnails/" + employee.getId + ".jpg").isDefined) {
                  <td><img src="/assets/images/productImages/thumbnails/@(employee.getId + ".jpg")" alt=""></td>
              } else {
                  <td><img src="/assets/images/productImages/thumbnails/noImage.jpg" alt="No Image"></td>
              }
            <td class="numeric">@employee.getId</td>
          <td><a href="@routes.HomeController.getEmployee(employee.getId)" target="_blank">@employee.getNames</a></td>
            <td>@employee.getDepartment.getTitle</td>
            <td>@employee.getDescription</td>
            <td  class="numeric">@employee.getStock</td>
            <td  class="numeric">€ @("%.2f".format(employee.getPrice))</td>
            <td>
              <a href="@routes.HomeController.updateProduct(employee.getId)" class="button xs btn-danger">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>        <td>
              <a href="@routes.HomeController.deleteProduct(employee.getId)" class="button xs btn-danger" onclick="return confirmDel();">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        }
      </tbody>

    </table>

    <employee>
      <a href="@routes.HomeController.addProduct()">
        <button class="btn btn-primary">Add a product</button>
      </a>
    </employee>
  </div>
</div>
}
